/* css generale font */
body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    font-family: Helvetica, sans-serif;  
}

/* css header */
.navbar_up{
    background-color: #000000;
    text-align: end;
    padding: 0.5rem;
}

.logo_sony{
    width: 100px;
}

.fa-magnifying-glass{
    font-size: 1.5rem;
    cursor: pointer;
}

.btn_color_header{
    background-color: #363636;
}


.fa-angle-down{
    color: gray;
    font-size: 0.8rem;
}


/* ------------- */
/* css section jumbo main */

.jumbo{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    height: 75vh;
}

.banner_returnal{
    width: 50%;
}

.btn_color_jumbo{
    background-color: #cd3d0f;
}

/* -------------- */
/* css section card grid main */

.img_card{
    width: 100%;
}

/* ------------ */
/* css section ps5 main */

.color_text_ps5{
    color: #0273ce;
}

.btn_color_ps5{
    background-color: #2d64e6;
}

.img_ps5{
    width: 100%;
}

.box_thumb{
    width: calc((100% / 3) - 0.19rem);
}

.img_thumb{
    filter: opacity(0.5);
    width: 100%;
}

.fa-trademark{
    font-size: 0.5rem;
    vertical-align: super;
}

@media all and (min-width:768px) {

    .box_thumb{
        width: calc((100% / 5) - 0.23rem);
    }
    
    .img_thumb {
        width: 40%;
    }

}

/* --------------- */
/* css section banner main */
.banner{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
}

.img_banner{
    width: 60%;
}


/* css section new games main */
.new_games{
    background-color: #1f1f1f;
    
}

.img_new_games{
    width: 100%;
}

/* ------------ */
/* css section ps4 main */

.fa-registered{
    font-size: 0.9rem;
    vertical-align: super;
}


.img_ps4{
    width: 100%;
}

@media all and (min-width:768px) {

    .height_p{
        height: 75px;
    }
  
}

/* -------- */
/* css section playstation plus main */

.playstation_plus{
    background-color: #bebcbb;
}

.img_plus{
    width: 60%;;
}

.img_plus_banner{
    width: 100%;
}

.btn_color_plus{
    background-color: #d9dadc;
    color: #2d64e6;
}



/* --------- */
/* css section discounts main */

.img_discounts{
    width: 100%;
}

/* ------- */

.playstation_now {
    background-color: #161c3b;
}


.box_now {
    background-color: red;
    height: 150px;
}

/* ----------- */

/* css section social media main */

.box_social{
    background-color: blue;
    height: 75px;
}

/* --------------- */

/* css footer */

.footer{
    background-color: #00439c;
}

.box_footer{
    background-color: red;
    height: 250px;
}

/* ------------------- */